version: '2'
services:
  operation_manager:
    build: .
    working_dir: /operation_manager
    command: bash -c "bash reset.sh; python manage.py runserver 0.0.0.0:8001"
    expose:
      - "8001"
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8003:8003"
      - "8005:8005"
      - "7000:7000"
  central_authentication_service:
    network_mode: "service:operation_manager"
    build: .
    working_dir: /central_authentication_service
    command: bash -c "bash reset.sh; python manage.py runserver 0.0.0.0:7000"
    depends_on:
      - "operation_manager"
  operation_registry:
    network_mode: "service:operation_manager"
    build: .
    working_dir: /operation_registry
    command: bash -c "bash reset.sh; python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - "operation_manager"
  resource_manager:
    network_mode: "service:operation_manager"
    build: .
    working_dir: /resource_manager
    command: bash -c "bash reset.sh; python manage.py runserver 0.0.0.0:8002"
    depends_on:
      - "operation_manager"
  appliance_registry:
    network_mode: "service:operation_manager"
    build: .
    working_dir: /appliance_registry
    command: bash -c "bash reset.sh; python manage.py runserver 0.0.0.0:8003"
    depends_on:
      - "operation_manager"
  architecture_portal:
    network_mode: "service:operation_manager"
    build: .
    working_dir: /architecture_portal
    command: bash -c "python manage.py runserver 0.0.0.0:8005"
    depends_on:
      - "operation_manager"
