#!/bin/bash

# Configure hadoop node
echo "{{node_name}}" >> /usr/hadoop/hadoop/etc/hadoop/slaves
echo "{{ master_name }}" > /usr/hadoop/hadoop/etc/hadoop/masters

# Balance hdfs
/usr/hadoop/hadoop/bin/hdfs balancer -threshold 50
